body {
    font-family: "Roboto",  sans-serif;
    color: #434455;
    background-color: #fff;
}

/*reset*/
a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

img {
    display: block;
}

/*common*/

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.menu-card {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.menu-card:last-child {
    margin-right: 0;
}

.section-card {
    background-color: #FFFFFF;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/*header*/

.top-line {
border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    width: 1158px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.menu-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
}

.logo-one {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-two {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.logo-header {
    margin-right: 76px;
    padding: 24px 0;
}

.nav-link {
    display: block;
    color: #2e2f42;
    padding: 24px 0;
}

.nav-link:hover, .nav-link:focus {
    color: #404bbf;
}

.nav-link-strip::after {
    content: '';
    display: block;
    height: 4px;
    border-radius: 2px;
    width: 48px;
    background-color: #404bbf;
    position: absolute;
    bottom: 0;
}

.adrs-box {
    font-style: normal;
    margin-left: auto;
}

.adrs-box-list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: auto;
}

.adrs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding: 24px 0;
}

.adrs-link:hover, .adrs-link:focus {
    color: #404bbf
}

/*section-hero-bigsectn*/

.big-section {
    background-color: #2e2f42;
    margin: 0 auto;
    align-items: center;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 1440px;
}

.big-section-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
    text-wrap: wrap;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.big-section-bttn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: #4d5ae5;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    gap: 10px;
    border-width: 0;
    min-width: 169px;
    border: none;
}

.big-section-bttn:hover, .big-section-bttn:focus {
    background: #404bbf;
}

.big-section-bttn-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: flex;
    padding-top: 16px; 
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    justify-content: flex-start;
    text-align: center;
    text-wrap: nowrap;
}

/*section1-future*/

.features-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-section-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }


.future-card {
    width: calc((100% - 72px) / 4);
}

.icon-antenna,
.icon-clock, .icon-diagram,
.icon-austronaut {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
}

.ftr-card-title {
    margin-bottom: 8px;
}

.ftr-card-text {
    padding-top: 0;
}

/*section2-team*/

.team-section {
    background: #f4f4fd;
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-menu {
    display: flex;
    gap: 24px;
    text-align: center;
}

.team-card {
    display: block;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    width: calc((100% - 72px) / 4);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-content {
    padding: 32px 16px;
    align-items: center;
    gap: 8px;
}

.team-card-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-card-text {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 8px;
}

.team-card-content {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    margin: 0, 16px, 0, 16px;
    padding: 32px, 0;
    justify-content: center;
    align-items: center;
    min-width: 264px;
}

.team-social-menu {
    display: flex;
    gap: 24px;
    justify-content: center;
    position: relative;
}

.team-social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.team-social-link:hover {
    cursor: pointer;
    background-color: #404bbf;
}

.social-link {
    fill: #f4f4fd;
    position: absolute;
}

/*section3-portfolio*/

.portfolio-section{
padding-top: 120px;
padding-bottom: 120px;
}

.portfolio-section-container {
    display: flex;
    flex-direction: column;
}

.portfolio-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-section-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-card {
    width: calc((100% - 48px) / 3);
}

.prtfl-card-content {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-top: none;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.prtfl-card-title {
    margin-bottom: 8px;
}

/*footer*/

.section-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
    margin: 0 auto;
}

.section-footer-container {
    max-width: 1128px;
    display: flex;
}

.footer-text-content {
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    
}

.logo-two-foot {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    line-height: 1.17
}

.descriptn-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-title-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-content {
    margin-right: auto;
    margin-left: 120px;
}

.footer-social-menu {
    display: flex;
    gap: 16px;
    justify-content: center;
    max-width: 208px; 
}

.footer-social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
}

.footer-social-link:hover {
    cursor: pointer;
    background-color: #31d0aa;;
}

.footer-social-icon {
    fill: #f4f4fd;
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

